In [88]:
import pyspark
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .master("spark://localhost:7077") \
    .appName("test") \
    .getOrCreate()

In [89]:
df_green = spark.read.parquet('data/raw/green/*/*')

In [90]:
df_green.printSchema()

root
 |-- VendorID: long (nullable = true)
 |-- lpep_pickup_datetime: timestamp_ntz (nullable = true)
 |-- lpep_dropoff_datetime: timestamp_ntz (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- RatecodeID: double (nullable = true)
 |-- PULocationID: long (nullable = true)
 |-- DOLocationID: long (nullable = true)
 |-- passenger_count: double (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- ehail_fee: integer (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- payment_type: double (nullable = true)
 |-- trip_type: double (nullable = true)
 |-- congestion_surcharge: double (nullable = true)

In [41]:
df_yellow = spark.read.parquet('data/raw/yellow/*/*')

In [42]:
df_yellow.show()

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|airport_fee|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
|       1| 2022-01-01 00:35:40|  2022-01-01 00:53:29|            2.0|          3.8|       1.0|                 N|         142|         236|           1|       14.5|  3.0|    0.5|      3.65|         0.0|                  0.3|       21.95|                 2.5|        0.0|
|       1| 2022-01-01 00:33:43|  2022-01-01 00:42:07|            1.0|          2.1|       1.0|                 N|         236|          42|           1|        8.0|  0.5|    0.5|       4.0|         0.0|                  0.3|        13.3|                 0.0|        0.0|
|       2| 2022-01-01 00:53:21|  2022-01-01 01:02:19|            1.0|         0.97|       1.0|                 N|         166|         166|           1|        7.5|  0.5|    0.5|      1.76|         0.0|                  0.3|       10.56|                 0.0|        0.0|
|       2| 2022-01-01 00:25:21|  2022-01-01 00:35:23|            1.0|         1.09|       1.0|                 N|         114|          68|           2|        8.0|  0.5|    0.5|       0.0|         0.0|                  0.3|        11.8|                 2.5|        0.0|
|       2| 2022-01-01 00:36:48|  2022-01-01 01:14:20|            1.0|          4.3|       1.0|                 N|          68|         163|           1|       23.5|  0.5|    0.5|       3.0|         0.0|                  0.3|        30.3|                 2.5|        0.0|
|       1| 2022-01-01 00:40:15|  2022-01-01 01:09:48|            1.0|         10.3|       1.0|                 N|         138|         161|           1|       33.0|  3.0|    0.5|      13.0|        6.55|                  0.3|       56.35|                 2.5|        0.0|
|       2| 2022-01-01 00:20:50|  2022-01-01 00:34:58|            1.0|         5.07|       1.0|                 N|         233|          87|           1|       17.0|  0.5|    0.5|       5.2|         0.0|                  0.3|        26.0|                 2.5|        0.0|
|       2| 2022-01-01 00:13:04|  2022-01-01 00:22:45|            1.0|         2.02|       1.0|                 N|         238|         152|           2|        9.0|  0.5|    0.5|       0.0|         0.0|                  0.3|        12.8|                 2.5|        0.0|
|       2| 2022-01-01 00:30:02|  2022-01-01 00:44:49|            1.0|         2.71|       1.0|                 N|         166|         236|           1|       12.0|  0.5|    0.5|      2.25|         0.0|                  0.3|       18.05|                 2.5|        0.0|
|       2| 2022-01-01 00:48:52|  2022-01-01 00:53:28|            1.0|         0.78|       1.0|                 N|         236|         141|           2|        5.0|  0.5|    0.5|       0.0|         0.0|                  0.3|         8.8|                 2.5|        0.0|
|       2| 2022-01-01 00:55:03|  2022-01-01 01:04:25|            1.0|         1.91|       1.0|                 N|         141|         229|           2|        8.5|  0.5|    0.5|       0.0|         0.0|                  0.3|        12.3|                 2.5|        0.0|
|       2| 2022-01-01 00:31:06|  2022-01-01 00:34:14|            3.0|         0.82|       1.0|                 N|         114|          90|           2|        4.5|  0.5|    0.5|       0.0|         0.0|                  0.3|         8.3|                 2.5|        0.0|
|       2| 2022-01-01 00:41:07|  2022-01-01 00:44:46|            3.0|         0.73|       1.0|                 N|         234|         113|           2|        4.5|  0.5|    0.5|       0.0|         0.0|                  0.3|         8.3|                 2.5|        0.0|
|       2| 2022-01-01 00:56:34|  2022-01-01 01:12:04|            2.0|         2.16|       1.0|                 N|         246|          79|           1|       11.5|  0.5|    0.5|      3.06|         0.0|                  0.3|       18.36|                 2.5|        0.0|
|       2| 2022-01-01 00:39:46|  2022-01-01 00:47:36|            4.0|         1.43|       1.0|                 N|          43|         140|           1|        7.5|  0.5|    0.5|      2.26|         0.0|                  0.3|       13.56|                 2.5|        0.0|
|       2| 2022-01-01 00:58:06|  2022-01-01 01:05:45|            1.0|         1.58|       1.0|                 N|         239|         151|           2|        8.0|  0.5|    0.5|       0.0|         0.0|                  0.3|        11.8|                 2.5|        0.0|
|       1| 2022-01-01 00:33:52|  2022-01-01 00:47:28|            3.0|          4.2|       1.0|                 N|         148|         141|           1|       14.0|  2.5|    0.5|      3.45|         0.0|                  0.3|       20.75|                 2.5|        0.0|
|       1| 2022-01-01 00:53:54|  2022-01-01 01:05:20|            2.0|          2.2|       1.0|                 N|         237|         107|           1|        9.5|  2.5|    0.5|      2.55|         0.0|                  0.3|       15.35|                 2.5|        0.0|
|       1| 2022-01-01 00:00:44|  2022-01-01 00:05:29|            1.0|          0.2|       1.0|                 N|           7|           7|           2|        5.0|  0.5|    0.5|       0.0|         0.0|                  0.3|         6.3|                 0.0|        0.0|
|       1| 2022-01-01 00:35:50|  2022-01-01 00:48:33|            2.0|          3.9|       1.0|                 N|         107|         263|           1|       13.0|  3.0|    0.5|      3.35|         0.0|                  0.3|       20.15|                 2.5|        0.0|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
only showing top 20 rows

In [8]:
set(df_green.columns) & set(df_yellow.columns)

{'DOLocationID',
 'PULocationID',
 'RatecodeID',
 'VendorID',
 'congestion_surcharge',
 'extra',
 'fare_amount',
 'improvement_surcharge',
 'mta_tax',
 'passenger_count',
 'payment_type',
 'store_and_fwd_flag',
 'tip_amount',
 'tolls_amount',
 'total_amount',
 'trip_distance'}

In [15]:
df_green = df_green.withColumnRenamed('lpep_pickup_datetime','pickup_datetime') \
    .withColumnRenamed('lpep_dropoff_datetime','dropoff_datetime')

In [16]:
df_yellow = df_yellow.withColumnRenamed('tpep_pickup_datetime','pickup_datetime') \
    .withColumnRenamed('tpep_dropoff_datetime','dropoff_datetime')

In [17]:
df_yellow.show()

+--------+-------------------+-------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
|VendorID|    pickup_datetime|   dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|airport_fee|
+--------+-------------------+-------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
|       1|2022-01-01 00:35:40|2022-01-01 00:53:29|            2.0|          3.8|       1.0|                 N|         142|         236|           1|       14.5|  3.0|    0.5|      3.65|         0.0|                  0.3|       21.95|                 2.5|        0.0|
|       1|2022-01-01 00:33:43|2022-01-01 00:42:07|            1.0|          2.1|       1.0|                 N|         236|          42|           1|        8.0|  0.5|    0.5|       4.0|         0.0|                  0.3|        13.3|                 0.0|        0.0|
|       2|2022-01-01 00:53:21|2022-01-01 01:02:19|            1.0|         0.97|       1.0|                 N|         166|         166|           1|        7.5|  0.5|    0.5|      1.76|         0.0|                  0.3|       10.56|                 0.0|        0.0|
|       2|2022-01-01 00:25:21|2022-01-01 00:35:23|            1.0|         1.09|       1.0|                 N|         114|          68|           2|        8.0|  0.5|    0.5|       0.0|         0.0|                  0.3|        11.8|                 2.5|        0.0|
|       2|2022-01-01 00:36:48|2022-01-01 01:14:20|            1.0|          4.3|       1.0|                 N|          68|         163|           1|       23.5|  0.5|    0.5|       3.0|         0.0|                  0.3|        30.3|                 2.5|        0.0|
|       1|2022-01-01 00:40:15|2022-01-01 01:09:48|            1.0|         10.3|       1.0|                 N|         138|         161|           1|       33.0|  3.0|    0.5|      13.0|        6.55|                  0.3|       56.35|                 2.5|        0.0|
|       2|2022-01-01 00:20:50|2022-01-01 00:34:58|            1.0|         5.07|       1.0|                 N|         233|          87|           1|       17.0|  0.5|    0.5|       5.2|         0.0|                  0.3|        26.0|                 2.5|        0.0|
|       2|2022-01-01 00:13:04|2022-01-01 00:22:45|            1.0|         2.02|       1.0|                 N|         238|         152|           2|        9.0|  0.5|    0.5|       0.0|         0.0|                  0.3|        12.8|                 2.5|        0.0|
|       2|2022-01-01 00:30:02|2022-01-01 00:44:49|            1.0|         2.71|       1.0|                 N|         166|         236|           1|       12.0|  0.5|    0.5|      2.25|         0.0|                  0.3|       18.05|                 2.5|        0.0|
|       2|2022-01-01 00:48:52|2022-01-01 00:53:28|            1.0|         0.78|       1.0|                 N|         236|         141|           2|        5.0|  0.5|    0.5|       0.0|         0.0|                  0.3|         8.8|                 2.5|        0.0|
|       2|2022-01-01 00:55:03|2022-01-01 01:04:25|            1.0|         1.91|       1.0|                 N|         141|         229|           2|        8.5|  0.5|    0.5|       0.0|         0.0|                  0.3|        12.3|                 2.5|        0.0|
|       2|2022-01-01 00:31:06|2022-01-01 00:34:14|            3.0|         0.82|       1.0|                 N|         114|          90|           2|        4.5|  0.5|    0.5|       0.0|         0.0|                  0.3|         8.3|                 2.5|        0.0|
|       2|2022-01-01 00:41:07|2022-01-01 00:44:46|            3.0|         0.73|       1.0|                 N|         234|         113|           2|        4.5|  0.5|    0.5|       0.0|         0.0|                  0.3|         8.3|                 2.5|        0.0|
|       2|2022-01-01 00:56:34|2022-01-01 01:12:04|            2.0|         2.16|       1.0|                 N|         246|          79|           1|       11.5|  0.5|    0.5|      3.06|         0.0|                  0.3|       18.36|                 2.5|        0.0|
|       2|2022-01-01 00:39:46|2022-01-01 00:47:36|            4.0|         1.43|       1.0|                 N|          43|         140|           1|        7.5|  0.5|    0.5|      2.26|         0.0|                  0.3|       13.56|                 2.5|        0.0|
|       2|2022-01-01 00:58:06|2022-01-01 01:05:45|            1.0|         1.58|       1.0|                 N|         239|         151|           2|        8.0|  0.5|    0.5|       0.0|         0.0|                  0.3|        11.8|                 2.5|        0.0|
|       1|2022-01-01 00:33:52|2022-01-01 00:47:28|            3.0|          4.2|       1.0|                 N|         148|         141|           1|       14.0|  2.5|    0.5|      3.45|         0.0|                  0.3|       20.75|                 2.5|        0.0|
|       1|2022-01-01 00:53:54|2022-01-01 01:05:20|            2.0|          2.2|       1.0|                 N|         237|         107|           1|        9.5|  2.5|    0.5|      2.55|         0.0|                  0.3|       15.35|                 2.5|        0.0|
|       1|2022-01-01 00:00:44|2022-01-01 00:05:29|            1.0|          0.2|       1.0|                 N|           7|           7|           2|        5.0|  0.5|    0.5|       0.0|         0.0|                  0.3|         6.3|                 0.0|        0.0|
|       1|2022-01-01 00:35:50|2022-01-01 00:48:33|            2.0|          3.9|       1.0|                 N|         107|         263|           1|       13.0|  3.0|    0.5|      3.35|         0.0|                  0.3|       20.15|                 2.5|        0.0|
+--------+-------------------+-------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
only showing top 20 rows

In [18]:
set(df_green.columns) & set(df_yellow.columns)

{'DOLocationID',
 'PULocationID',
 'RatecodeID',
 'VendorID',
 'congestion_surcharge',
 'dropoff_datetime',
 'extra',
 'fare_amount',
 'improvement_surcharge',
 'mta_tax',
 'passenger_count',
 'payment_type',
 'pickup_datetime',
 'store_and_fwd_flag',
 'tip_amount',
 'tolls_amount',
 'total_amount',
 'trip_distance'}

In [19]:
commonCols = []
yellowCols = set(df_yellow.columns)
for col in df_green.columns:
    if col in yellowCols:
        commonCols.append(col)

In [20]:
from pyspark.sql import functions as F

In [21]:
greenSelect = df_green.select(commonCols).withColumn('service_type',F.lit('green'))
yellowSelect = df_yellow.select(commonCols).withColumn('service_type',F.lit('yellow'))

In [22]:
dfTripsData = greenSelect.unionAll(yellowSelect)

In [23]:
dfTripsData.groupBy('service_type').count().show()

+------------+--------+
|service_type|   count|
+------------+--------+
|       green|  501368|
|      yellow|22991977|
+------------+--------+

In [24]:
dfTripsData.createOrReplaceTempView('tripsData')

In [25]:
spark.sql("""SELECT service_type, count(service_type) FROM tripsData group by service_type;""").show()

+------------+-------------------+
|service_type|count(service_type)|
+------------+-------------------+
|       green|             501368|
|      yellow|           22991977|
+------------+-------------------+

In [72]:
df_green.createOrReplaceTempView('green')
df_yellow.createOrReplaceTempView('yellow')

In [73]:
dfYellowRev = spark.sql("""
SELECT date_trunc('hour',tpep_pickup_datetime) as hour, PULocationID as zone, sum(total_amount) as amount, count(1) as number_records
from yellow
where tpep_pickup_datetime >= '2022-01-01 00:00:00'
group by hour, zone""")

dfGreenRev = spark.sql("""
SELECT date_trunc('hour',lpep_pickup_datetime) as hour, PULocationID as zone, sum(total_amount) as amount, count(1) as number_records
from green
where lpep_pickup_datetime >= '2022-01-01 00:00:00'
group by hour, zone""")

In [74]:
df_greenT = dfGreenRev.withColumnRenamed('amount','green_amount').withColumnRenamed('number_records','green_records')
df_yellowT = dfYellowRev.withColumnRenamed('amount','yellow_amount').withColumnRenamed('number_records','yellow_records')

In [75]:
dfYellowGreen = df_yellowT.join(df_greenT,on=['hour','zone'],how='outer')

In [76]:
dfYellowGreen.show()

+-------------------+----+------------------+--------------+------------------+-------------+
|               hour|zone|     yellow_amount|yellow_records|      green_amount|green_records|
+-------------------+----+------------------+--------------+------------------+-------------+
|2022-01-01 00:00:00|  41|204.58999999999997|            12|109.98999999999998|            9|
|2022-01-01 00:00:00|  43|1520.5099999999989|            97|             12.05|            1|
|2022-01-01 00:00:00|  74|126.99999999999999|             9|113.25999999999999|            7|
|2022-01-01 00:00:00|  80| 85.05000000000001|             3|             18.81|            1|
|2022-01-01 00:00:00| 130|              NULL|          NULL|              28.3|            1|
|2022-01-01 00:00:00| 144| 765.3699999999999|            46|              NULL|         NULL|
|2022-01-01 00:00:00| 211| 558.6800000000001|            33|              NULL|         NULL|
|2022-01-01 00:00:00| 233| 972.0499999999995|            58|              NULL|         NULL|
|2022-01-01 00:00:00| 265|169.57999999999998|             4|              NULL|         NULL|
|2022-01-01 01:00:00|  48|  5549.95000000001|           256|              NULL|         NULL|
|2022-01-01 01:00:00|  52|              NULL|          NULL|              58.4|            1|
|2022-01-01 01:00:00| 262|            485.61|            30|              NULL|         NULL|
|2022-01-01 02:00:00|  52|             22.95|             1|              NULL|         NULL|
|2022-01-01 02:00:00|  79|  5877.45000000001|           322|              NULL|         NULL|
|2022-01-01 02:00:00|  88| 443.8700000000002|            16|              NULL|         NULL|
|2022-01-01 02:00:00| 137|1073.5799999999997|            66|              NULL|         NULL|
|2022-01-01 02:00:00| 146|             60.28|             3|               9.3|            1|
|2022-01-01 02:00:00| 148|3042.7300000000037|           151|              NULL|         NULL|
|2022-01-01 02:00:00| 170| 2288.919999999999|           147|              NULL|         NULL|
|2022-01-01 02:00:00| 236| 785.7999999999998|            37|             19.26|            1|
+-------------------+----+------------------+--------------+------------------+-------------+
only showing top 20 rows

In [77]:
dfYellowGreen.write.parquet('data/report/revenue/total', mode='overwrite')

In [79]:
dfZones = spark.read.option("header","true").csv('data/taxi+_zone_lookup.csv')

In [81]:
dfZones.write.parquet("data/zones/")

In [83]:
dfResult = dfYellowGreen.join(dfZones, dfYellowGreen.zone == dfZones.LocationID)

In [84]:
dfResult.show()

+-------------------+----+------------------+--------------+------------------+-------------+----------+---------+--------------------+------------+
|               hour|zone|     yellow_amount|yellow_records|      green_amount|green_records|LocationID|  Borough|                Zone|service_zone|
+-------------------+----+------------------+--------------+------------------+-------------+----------+---------+--------------------+------------+
|2022-01-01 00:00:00|  41|204.58999999999997|            12|109.98999999999998|            9|        41|Manhattan|      Central Harlem|   Boro Zone|
|2022-01-01 00:00:00|  43|1520.5099999999989|            97|             12.05|            1|        43|Manhattan|        Central Park| Yellow Zone|
|2022-01-01 00:00:00|  74|126.99999999999999|             9|113.25999999999999|            7|        74|Manhattan|   East Harlem North|   Boro Zone|
|2022-01-01 00:00:00|  80| 85.05000000000001|             3|             18.81|            1|        80| Brooklyn|   East Williamsburg|   Boro Zone|
|2022-01-01 00:00:00| 130|              NULL|          NULL|              28.3|            1|       130|   Queens|             Jamaica|   Boro Zone|
|2022-01-01 00:00:00| 144| 765.3699999999999|            46|              NULL|         NULL|       144|Manhattan| Little Italy/NoLiTa| Yellow Zone|
|2022-01-01 00:00:00| 211| 558.6800000000001|            33|              NULL|         NULL|       211|Manhattan|                SoHo| Yellow Zone|
|2022-01-01 00:00:00| 233| 972.0499999999995|            58|              NULL|         NULL|       233|Manhattan| UN/Turtle Bay South| Yellow Zone|
|2022-01-01 00:00:00| 265|169.57999999999998|             4|              NULL|         NULL|       265|  Unknown|                  NA|         N/A|
|2022-01-01 01:00:00|  48|  5549.95000000001|           256|              NULL|         NULL|        48|Manhattan|        Clinton East| Yellow Zone|
|2022-01-01 01:00:00|  52|              NULL|          NULL|              58.4|            1|        52| Brooklyn|         Cobble Hill|   Boro Zone|
|2022-01-01 01:00:00| 262|            485.61|            30|              NULL|         NULL|       262|Manhattan|      Yorkville East| Yellow Zone|
|2022-01-01 02:00:00|  52|             22.95|             1|              NULL|         NULL|        52| Brooklyn|         Cobble Hill|   Boro Zone|
|2022-01-01 02:00:00|  79|  5877.45000000001|           322|              NULL|         NULL|        79|Manhattan|        East Village| Yellow Zone|
|2022-01-01 02:00:00|  88| 443.8700000000002|            16|              NULL|         NULL|        88|Manhattan|Financial Distric...| Yellow Zone|
|2022-01-01 02:00:00| 137|1073.5799999999997|            66|              NULL|         NULL|       137|Manhattan|            Kips Bay| Yellow Zone|
|2022-01-01 02:00:00| 146|             60.28|             3|               9.3|            1|       146|   Queens|Long Island City/...|   Boro Zone|
|2022-01-01 02:00:00| 148|3042.7300000000037|           151|              NULL|         NULL|       148|Manhattan|     Lower East Side| Yellow Zone|
|2022-01-01 02:00:00| 170| 2288.919999999999|           147|              NULL|         NULL|       170|Manhattan|         Murray Hill| Yellow Zone|
|2022-01-01 02:00:00| 236| 785.7999999999998|            37|             19.26|            1|       236|Manhattan|Upper East Side N...| Yellow Zone|
+-------------------+----+------------------+--------------+------------------+-------------+----------+---------+--------------------+------------+
only showing top 20 rows

In [87]:
dfResult.drop('LocationID','zone').write.parquet('tmp/revenueZones')